@font-face {
    font-family: 'Harrington';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/harrington.ttf') format('truetype');
}
@font-face {
    font-family: 'CosmicSansNeue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/CosmicSansNeueMono.ttf') format('truetype');
}

html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
    font-family: CosmicSansNeue;
}

h1, h2, h3
{
    font-family: Harrington;
}

#content {
    background: rgba(255,255,255,0.92);
    /*z-index: 99;*/
    z-index: 100;
    position: relative;
}
.row {
    margin-top: 6em;
}

.img-feature
{
    height: 5em;
    margin: 1em;
}

body {
    background: #ffffff;

    background: -webkit-linear-gradient(top, #ffffff, #cccccc 100%);
    background: -moz-linear-gradient(top, #ffffff, #cccccc 100%);
    background: -o-linear-gradient(top, #ffffff, #cccccc 100%);
    background: -ms-linear-gradient(top, #ffffff, #cccccc 100%);
    background: linear-gradient(top, #ffffff, #cccccc 100%);
    background-attachment:fixed;
}
